<script lang="ts">
import { onMount } from 'svelte';
import type { ImageFitType } from '../../../schemas/image';

import Overlay from '../spinner.overlay.svelte';


  let className: string = "";
  let w: number;

  export let loading: boolean | undefined = undefined;
  export {className as class};
  
  export let src: string;
  export let alt: string =  "";
  export let selected = false;

  export let display: ImageFitType = 'square';

  let container: HTMLElement;
  let imgElem: HTMLImageElement;

  $: if(container && w) {
      container.style.height = `${w-(w/17)}px`
    }

  onMount(() => loading = true);
  
</script>

<style lang="postcss">

  .selected {
     @apply rounded-md border-8 border-solid border-blue-600;
  }

  img.aspect {
    @apply object-contain;
  }

  img.square {
    @apply object-cover;
  }
</style>

<section 
  bind:this={container} 
  bind:clientWidth={w}
  class:selected={selected}
  class="group relative p-0"
>
  {#if loading === true}
    <Overlay></Overlay>
  {/if}
  <slot></slot>
  <img on:load={() => loading = false} class="h-full w-full {display} {className}" {src} {alt} on:click>
</section>