<script lang="ts">
  import ImageComp from './image.box.svelte';
  import type { Image, ImageFitType, NewImage } from '../../../schemas/image';
  import Grid from '../../atoms/grid.svelte';
  import Checkbox from '../../atoms/form/checkbox.svelte';
  import ButtonCircle from '../../atoms/form/button.circle.svelte';
import { faExpandAlt, faPen } from '@fortawesome/free-solid-svg-icons';
import Input from '../../atoms/form/input.svelte';

  export let image: Image | NewImage;
  export let display: ImageFitType;

</script>

<ImageComp src={image.url} {display} selected={image.selected}>
  <Grid
    cols={1} 
    class="hidden absolute top-2 right-2 group-hover:grid group-focus:grid"
  >
    <Checkbox checked={image.selected} on:change:isChecked={e => image.selected = e.detail}/>
    <ButtonCircle color="light" icon={faPen} />
    <ButtonCircle color="light" icon={faExpandAlt} />
  </Grid>
  <div>
    <Input bind:value={image.name} />
  </div>
</ImageComp>