<script lang="ts">
  import type { NewImage } from '../../../schemas/image'
  import Grid from '../../atoms/grid.svelte';
  import ImageUpload from './image.upload.svelte';

import { nanoid } from 'nanoid';

  export let files: FileList | undefined = undefined;
  export let images: NewImage[] = [];
  let input: HTMLElement;

  function imageFromFile(file: File): NewImage {
    return {
      id: nanoid(),
      name: file.name,
      url: URL.createObjectURL(file),
      file,
      saved: false
    }
  }

  $: if (files) {
      for(let i = 0; i < files.length; i++){
        const file = files.item(i);
        if(file != null){
          const image: NewImage = imageFromFile(file)
          
          images = [...images, image]
        }
      }
    }

  export function clearFiles(){
    files = undefined;
    images = [];
  }

  export function openFileBrowser(){
    input.click();
  }

</script>


<style>

</style>

<div class="relativ bg-zinc-700 rounded-md w-full h-fit p-2">
  <div class="relative p-2 border-4 border-dashed rounded-md ">
  <form class="h-72" class:hidden={images.length !== 0}>
      <input bind:this={input} class="hidden" id="file-upload" bind:files multiple type="file"/>
      <label 
        for="file-upload" 
        class="text-xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 hover:cursor-pointer">
      <strong>Choose a file </strong><span>or drag it here</span>.</label>
    
  </form>

  <Grid>
    {#each images as image (image.id)}
      <ImageUpload {image}/>
    {/each}
  </Grid>
</div>

</div>
