<script>
    import { createEventDispatcher } from "svelte";
    import Image from './image.box.svelte'
    export let images = [];
    export let selected = [];

    const dispatch = createEventDispatcher()
</script>

<style>
    section {
        border-top: solid calc(var(--line-strength)*2) var(--line-color);
        padding: var(--space) 0;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1rem;
    }

    li {
        height: 300px;
        object-fit: contain;
    }

    
</style>

<section>
    <ul>
        {#each images as image}
            <li>
                <slot {image}>
                    <Image id={image.id} src={`${image.imageUrl}?heigh=400`} selected={selected.includes(image.id)} on:click="{event => {dispatch('selectOne', event.detail)}}" on:select="{event => dispatch('selectMultiple', event.detail)}"></Image>
                </slot>
            </li>
        {/each}
    </ul>
</section>