<script>
  import { Meta, Template, Story } from "@storybook/addon-svelte-csf";
  import Image from "./image.box.svelte";
</script>

<Meta
  title="Image"
  component={Image}
  argTypes={{
    src: { control: 'text'},
    display: {
      control: 'select',
      options: ['aspect', 'square']
    }
  }}

/>

<Template let:args>
  <Image {...args}/>
</Template>


<Story
  name="Square"
  args={{
    display: 'square',
    src: "https://images.unsplash.com/photo-1599423760078-a0bdf1f0947e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=80"
  }}
/>

<Story
  name="Aspect"
  args={{
    display: 'aspect',
    src: "https://images.unsplash.com/photo-1599423760078-a0bdf1f0947e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=80"
  }}
/>