<script>
  import { Meta, Template, Story } from "@storybook/addon-svelte-csf";
  import Image from "./image.control.svelte";

</script>

<Meta
  title="Image"
  component={Image}
  argTypes={{
    width: { 
      control: { 
        type: 'range', 
        min: 100, 
        max: 1200, 
        step: 50
      }
    },
    display: {
      control: 'select',
      options: ['aspect', 'square']
    },

  }}

/>
<Template let:args>
  <div style="width: {args.width}px">
    <Image {...args}/>
  </div>
</Template>


<Story 
  name="Editable"
  args={{
    image: {
      url: "https://images.unsplash.com/photo-1599593080833-a24cfb30aa83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=80"
    }
  }}
/>