<script lang="ts">
  import { type NewImage } from "../../../schemas/image";
  import { imageStore, uploadImage } from "../../../stores/image.store";
  import Load from "../../atoms/load.svelte";
  import Image from "./image.box.svelte";


  export let image: NewImage;


  async function upload(image: NewImage): Promise<void> {
    if(image.saved === false){
      await imageStore.dispatch(uploadImage(image));
      image.saved = true;
    }
  }

</script>

<Load promise={upload(image)}>
  <Image src={image.url}></Image>
</Load>





