<script lang="ts">
import { nanoid } from "nanoid";



    export let label: string = "";
    export let value: string;

    let id = nanoid(3);
</script>

<style lang="scss">

    div {
        position: relative;
        display: flex;
        padding: 15px 0 7px;
        margin-top: 10px;
        width: 100%;
        border-bottom: 2px solid var(--line-color);

    }

    input {
       
        border: 0;
        flex-grow: 1;
        
        outline: 0;
        font-size: 1.3rem;
        color: var(--font-color);
        padding: 7px 0 0;
        margin: 0;
        background: transparent;
        transition: border-color 0.2s;

        &::placeholder {
            color: transparent;
        }

        &:placeholder-shown ~ label {
            font-size: 1.3rem;
            cursor: text;
            top: 20px;
        }

        &:focus {
            ~ label {
                position: absolute;
                top: 0;
                display: block;
                transition: 0.2s;
                font-size: var(--font-size-small);
                color: var(--primary-color);
                font-weight:700;    
            }
            font-weight: 700;
            border-width: 3px;
            border-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
            border-image-slice: 1;
        }

        &:required,&:invalid { box-shadow:none; }
    }

    label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: var(--font-size-small);
        color: var(--line-color);
    }
    
</style>

<div>

    <input id="input-{id}" {...$$restProps} bind:value placeholder={label} />

    <label for="input-{id}">{label}</label>
    <slot></slot>
</div>