<script>
import faker from "@faker-js/faker";
  
    import { Meta, Template, Story } from "@storybook/addon-svelte-csf";
    import Box from '../../atoms/box.svelte'
    import Editor from './editor.svelte'
  </script>
  
  <Meta
    title="Form"
    component={Editor}
    argTypes={{
    }}
  />
  
  
  <Template let:args>
    <div class="max-w-[1000px]">
      <Box teaser="Story">
        <Editor {...args} />
      </Box>
    </div>
  </Template>
  
  
  <Story
    name="Text Editor"
    args={{
      content: faker.lorem.paragraph(40)
    }}
  />