<script lang="ts">
  import { onMount, onDestroy } from 'svelte'
  import { Editor } from '@tiptap/core'
  import StarterKit from '@tiptap/starter-kit'
  import {Button} from '../../atoms/form'

  export let content = "";

  let element
  let editor

  onMount(() => {
    editor = new Editor({
      element: element,
      extensions: [
        StarterKit,
      ],
      content,
      onTransaction: () => {
        // force re-render so `editor.isActive` works as expected
        editor = editor
      },
    })
  })

  onDestroy(() => {
    if (editor) {
      editor.destroy()
    }
  })
</script>

<div class="editor">

  <div class="text" bind:this={element} />

  <div class="toolbar">
  {#if editor}
    <Button color="transparent"
      on:click={() => editor.chain().focus().toggleHeading({ level: 1}).run()}
      active={editor.isActive('heading', { level: 1 })}
    >
      H1
    </Button>
    <Button color="transparent"
      on:click={() => editor.chain().focus().toggleHeading({ level: 2 }).run()}
      active={editor.isActive('heading', { level: 2 })}
    >
      H2
    </Button>
    <Button color="transparent"
      on:click={() => editor.chain().focus().toggleHeading({ level: 3 }).run()}
      active={editor.isActive('heading', { level: 3 })}
    >
      H3
    </Button>
    <Button color="transparent"
      on:click={() => editor.chain().focus().toggleBold().run()}
      active={editor.isActive('bold')}
    >
      <strong>B</strong>
    </Button>
    <Button color="transparent"
      on:click={() => editor.chain().focus().toggleItalic().run()}
      active={editor.isActive('italic')}
    >
      <em>I</em>
    </Button>
  {/if}
  </div>  
</div>

<style lang="scss">
  .editor {

    @apply flex flex-nowrap  my-2 space-x-2 divide-x-2 divide-solid divide-zinc-700;

    .text {
      @apply p-2 w-full;
    }

    :global(h1) {
      @apply text-4xl;
    }

    :global(h2) {
      @apply text-3xl;
    }

    :global(h3) {
      @apply text-2xl;
    }
  }

  
</style>