<script lang="ts">
import { nanoid } from "nanoid";

import Input from "../../atoms/form/input.svelte";
import Label from "../../atoms/form/label.svelte";

export let id = nanoid(5);
export let label: string;
export let value: string;
export let placeholder = `some ${label}`

</script>
<div class="my-2">
  <Label {id}>{label}</Label>
  <Input
   {id} {...$$restProps}
   {placeholder}
   bind:value
   class="w-full"
  />
</div>