<script>
  import { Meta, Template, Story } from "@storybook/addon-svelte-csf";
  import TagInput from "./input.tag.svelte";

  const defaultTags = [{name: 'test'}]
</script>

<Meta
  title="Form"
  component={TagInput}
/>


<Template let:args>
  <TagInput {...args}></TagInput>
</Template>

<Story
  name="Tag - Add"
>
  <TagInput tags={defaultTags} />
</Story>
