<script lang="ts">

    import TagElement from "../../atoms/tag.svelte";
    import type { Tag } from "../../../schemas/Tag.interface";
    import { nanoid } from "nanoid";
import { defaultColorCodes, getRandomColor } from "../../../utils/color";
import { Adder, Input } from "../../atoms/form";

    export let value: string = "";
    export let tags: Array<Tag> = [];

    function addTag() {
        const trimmed = value.trim();
        if(trimmed !== ""){
            const id = nanoid(8);
            const tag = {
                id,
                name: trimmed,
                color: getRandomColor()
            };

            tags = [...tags, tag]
            value = "";
        }
    }

    function removeTag(name: string) {
        tags = tags.filter((tag) => tag.name !== name);
    }

</script>


<ul class="container flex flex-wrap flex-row gap-2 items-center">
    {#each tags as tag }
    <li>
        <TagElement name={tag.name} color={tag.color || '#fff'} deleteAble={true} on:remove={e => removeTag(e.detail)} />
    </li>
    {/each}
    <li>
        <Adder label="add Tag">
            <Input placeholder="add Tag" bind:value={value} on:keyEnter={addTag} autofocus/>
        </Adder>
    </li>
</ul>

