:root {

    /* meadia size */
    --xs: 4800px;
    --s: 768px;
    --m: 1024px;
    --l: 1200px;
    --xl: 2140px;

    --font-small: 0.7rem;
    --font-size: 1rem;
    --font-large: 1.7rem;

    --font-color: #FFF;

    --border-radius: 4px;
    --border-color: #333;
    --border-width: 1px;
    

    --primary-color: #fd7a00;
    --primary-color-hover: #fd4e00;
    --secondary-color: #3e7bff;
    --secondary-color-hover: #1949af;
    --danger-color: #ff0000;
    --danger-color-hover: #fa5656;

    --background-color: #222;
    --background-color-opacity: #222222BB;
    --background-color-hover: #333;

    
    --line-strength: 2px;
    --line-color: #AAA;


    --space: 0.9rem;
    --space-fix: 0.9rem;
    --space-small-fix: 0.4rem
}