<script>
import ImageOverview from "../components/organisms/image.overview.svelte"
import ImageCreate from "../components/organisms/image.prepare.svelte";
import ImageMeta from "../components/organisms/imageMeta.svelte";
import FilterAndActions from "../layouts/filterAndActions.svelte";
import Slpitview from "../layouts/slpitview.svelte";

$: selected = [];

</script>

<Slpitview>
    <FilterAndActions slot="left">
        <ImageOverview></ImageOverview>
        <ImageCreate slot="actions"></ImageCreate>
        
    </FilterAndActions>
    <div slot="right">
        <ImageMeta ids={selected}></ImageMeta>
    </div>
</Slpitview>