<script>
  import Center from '../layouts/center.svelte';
  import LoginForm from '../components/organisms/login.form.svelte';
  import { User } from '../schemas/user.entity';

  User.readJwtFromStorage();
</script>

<Center class="max-w-lg" >
  <div class="w-full border-2 rounded-md px-7 py-11">
    <h1 class="text-3xl text-center mb-11">Sign In to Shadow</h1>
    <LoginForm></LoginForm>
  </div>
</Center>
