<script>
  import faker from "@faker-js/faker";

  import { Meta, Template, Story } from "@storybook/addon-svelte-csf";
  import Box from "./box.svelte";
</script>

<Meta
  title="Boxes"
  component={Box}
  args={{
    teaser: {
      control: 'text'
    }
  }}
/>


<Template let:args>
  <div class="w-72">
    <Box {...args}>
      {faker.lorem.paragraph()}
    </Box>
  </div>
</Template>

<Story
  name="default"
  args={{
    teaser: "Datbox to show Data"
  }}
/>

<Story
  name="bottom"
  args={{
    teaser: "Some Street. 17, 70321 Stuttgart",
    bottom: true
  }}
/>


<Story
  name="editable"
  args={{
    teaser: "Some Street. 17, 70321 Stuttgart",
    bottom: true,
    editable: true
  }}
/>