<script lang="ts">
  import './box.teaser.base.css';

  export let teaser: string | undefined = undefined;
  export let bottom = false;

</script>

<section>

  {#if bottom === true}
  <slot></slot>
  {/if}

  {#if teaser || $$slots.teaser}
  <slot name="teaser">
    <header class:bottom class="teaser">
      <span class="truncate min-w-0">{teaser}</span>
    </header>
  </slot>
  {/if}
  

  {#if bottom === false}
  <slot></slot>
  {/if}
  
</section>

<style lang="postcss">
  section {
    @apply bg-zinc-800 rounded-md overflow-hidden px-2 py-1;
  }

  section.editable {
    @apply cursor-pointer;
  }


</style>