<script lang="ts">

import './box.teaser.base.css';

  export let teaser: string;
  //export let level: 'span' | 'h1' | 'h2' | 'h3' = 'span';
</script>

<header class="teaser">
  <span class="truncate min-w-0">{teaser}</span>
  <div class="buttons">
    <slot></slot>
  </div>
</header>