<script lang="ts">
  import Spinner from "./spinner.svelte";

  export let promise: Promise<unknown>;
  export let spinner: boolean = true;
</script>

<div class="relativ">
  {#await promise}
    {#if spinner}
    <div class="absolute h-full w-full bg-gray-500 opacity-75">
      <Spinner />
    </div>
    {/if}
    {#if $$slots.load}
      <slot name="load"></slot>
    {:else}
      <slot></slot>
    {/if}
  {:then result}
    <slot prop={result}></slot>
  {:catch}
    <slot name="error"></slot>
  {/await}
</div>