<script>
  import { Meta, Template, Story } from "@storybook/addon-svelte-csf";
  import Modal from "./modal.svelte";
  import Box from "./box.svelte";
  import {Button} from "./form";
  import faker from "@faker-js/faker";
  import { BoxEditTeaser, ModalCloseTeaser } from '../molecules/box.teaser'

  let openModal = false;

  let toggle = () => openModal = !openModal;
</script>

<Meta
  title="Modal"
  component={Modal}
/>


<Template let:args>
  <Modal {...args}><slot></slot></Modal>
</Template>

<Story
  name="Base - small text"
>
  <Modal open={true}>
    {faker.lorem.paragraph(10)}
  </Modal>
</Story>

<Story
  name="Base - large text"
>
  <Modal open={true}>
    {faker.lorem.paragraph(1000)}
  </Modal>
</Story>

<Story
  name="Box - text"
>
  <Modal open={true}>
    <Box teaser="Story">
      {faker.lorem.paragraph(10)}
    </Box>
  </Modal>
</Story>

<Story
  name="Box - grow box"
>
  <div class="w-72">
    <Modal open={openModal}>
      <Box slot="base" >
        <BoxEditTeaser slot="teaser" teaser="Story" on:click={toggle}/>
        {faker.lorem.paragraph(1)}
      </Box>
      <Box teaser="Story">
        <ModalCloseTeaser slot="teaser" teaser="Story" on:click={toggle}/>
        {faker.lorem.paragraph(10)}
      </Box>
    </Modal>
  </div>
</Story>



<Story
  name="Grow - from button"
>
<Modal open={openModal}>
  <Button slot="base" on:click={toggle}>Pop from button</Button>
  <Box teaser="Test">{faker.lorem.paragraph()}<Button on:click={toggle}>Close</Button></Box>
</Modal>
</Story>

<Story
  name="Grow - from background"
>
<Button on:click={toggle}>Pop from background</Button>
<Modal open={openModal}>
  <Box teaser="Test">{faker.lorem.paragraph()}<Button on:click={toggle}>Close</Button></Box>
</Modal>
</Story>