<script lang="ts">
  import { fly, scale, blur} from 'svelte/transition';
	import { cubicIn } from 'svelte/easing';


	import { crossfade } from 'svelte/transition';


	const [send, receive] = crossfade({
		duration: 500,
		easing: cubicIn,
    fallback: (node) => scale(node, {
      easing: cubicIn,
      duration: 1000,
      delay: 100,
      opacity: 0.5
    })
	});



  export let open: boolean = false;

  let heigt;
  let windowHeight
  let key = Symbol('Modal');



  $: scroll = heigt >= windowHeight;

</script>

<svelte:window bind:innerHeight={windowHeight} />

{#if $$slots.base}
  <div class="relative h-max">
    <slot name="base"></slot>
    {#if open === false}
    <div class="absolute top-0 left-0 -z-10" in:send={{key}} out:receive={{key}}><slot name="base"></slot></div>
    {/if}
  </div>


{/if}

{#if open === true}

<div class="modal">
  <div class="backdrop" transition:blur={{opacity:0.2}} />
  <section 
    class:scrolling={scroll} 
    class="content" 
    bind:clientHeight={heigt}
    in:send={{key}} out:receive={{key}}
  >
    <slot></slot>
  </section>
</div>

{/if}



<style lang="postcss">
  .modal {
    @apply fixed h-screen w-screen left-0 top-0 overflow-scroll;
  }

  .backdrop {
    @apply bg-zinc-900/70 absolute top-0 left-0 h-full w-full z-50;
  }

  .content {
    @apply absolute box-border py-7 px-1 left-1/2 -translate-x-1/2 min-h-min min-w-[300px] z-50;
  }

  .content:not(.scrolling) {
    @apply top-1/2 -translate-y-1/2;
  }
</style>