<script type="ts">
  import Fa from 'svelte-fa'
  import { faTimes } from '@fortawesome/free-solid-svg-icons';
  import { createEventDispatcher } from 'svelte';
import { NoticeTypes } from '../../schemas/notice.interface';


  export let id: string | number | undefined = undefined;
  export let type: keyof typeof NoticeTypes;
  export let deleteAble = true;

  const dispatch = createEventDispatcher();

  function remove() {
    dispatch('remove', id);
  }
</script>

<style lang="postcss">
  div.success {
    @apply bg-green-600;
  }

  div.info {
    @apply bg-blue-600;
  }

  div.warn {
    @apply bg-yellow-500;
  }

  div.error {
    @apply bg-red-600;
  }
</style>

<div class="{type} flex flex-row rounded-md p-2 px-3" >
  <slot></slot>
  {#if deleteAble}
        <button 
            type="button"
            class="remove block p-1 pl-3 self-start hover:text-gray-700 focus:text-gray-700" 
            on:click={remove}
        ><Fa icon={faTimes} scale={0.8} /></button>
    {/if}
</div>