<script lang="ts">

  type directions = 'left' | 'bottom' | 'right' | 'top' | null | undefined;


  let className = "";

  export {className as class};

  export let pop: directions = undefined;
</script>

<div>
  <slot name="base"></slot>
  {#if pop != null}
    <div class="absolute box-border z-50 {className}">
      <slot></slot>
    </div>
  {/if}

</div>