<script lang="ts">
import { onMount } from "svelte";



    export let position: [number, number] = [];

    let divider: HTMLElement;
    let mouseStart: number;

    onMount(() => {
        position = [divider.offsetLeft, divider.offsetLeft + divider.offsetWidth]
    })
    

    function handleMousedown(event: MouseEvent){
        mouseStart = event.clientX;
        document.body.addEventListener('mousemove', handleMousemove)
        window.addEventListener('mouseup', handleMouseup)
    }

    function handleMousemove(event: MouseEvent){
        const move = event.clientX - mouseStart;
        mouseStart = mouseStart + move
        if(position[1] >= document.body.clientWidth){
            position = [
                document.body.offsetWidth - divider.offsetWidth - 3,
                document.body.offsetWidth - 3
            ]
        }else {
            position = [
                position[0] + move,
                position[1] + move
            ]
        }
    }

    function handleMouseup(event: MouseEvent) {
        document.body.removeEventListener('mousemove', handleMousemove);
        window.removeEventListener('mouseup', handleMouseup);
    }
</script>

<style>
    div {
        position: relative;
        width: var(--space);
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: calc(var(--space)*15);
        border: calc(var(--space)/4) solid var(--line-color);
        cursor: col-resize;
    }
</style>

<div bind:this={divider}>
    <span on:mousedown={handleMousedown}></span>
</div>