<script lang="ts">
    import Fa from 'svelte-fa';
    import {faTimes} from '@fortawesome/free-solid-svg-icons';
    import { createEventDispatcher } from 'svelte';
    import { getContrastColorBlackWhite } from '../../utils/color';

    export let name;
    export let deleteAble = false;
    export let color = '#fff';

    let fontColor;
    let fontColorOpacity;

    $: {
        fontColor = getContrastColorBlackWhite(color)
        fontColorOpacity = fontColor === "black" ? '#0007' : '#FFF7'
    }
    
    const dispatch = createEventDispatcher()

    function removeTag(e) {
        dispatch('remove', name)
    }

    
</script>


<div
    class=""
    style="--tag-color: {color}; --font-color: {fontColor}; --font-color-opacity: {fontColorOpacity}"
>
    {#if deleteAble}
        <button 
            type="button"
            class="remove block px-2 -my-2 rounded-r-md" 
            on:click={removeTag}
        ><Fa icon={faTimes} scale={0.8} /></button>
    {/if}
    <span class="name block px-3">{name}</span>
</div>

<style lang="postcss">
    div {
        @apply flex flex-row-reverse w-max py-1 text-lg rounded-md divide-solid divide-x-reverse divide-x-2 ring-2 ring-current;
        color: var(--font-color);
        background-color: var(--tag-color);
    }

    button {
        color: var(--font-color-opacity);
    }
    button.remove:hover {
        color: var(--font-color);
        background-color: var(--font-color-opacity);

    }
</style>

