
<script lang="ts">
import type { Writable } from "svelte/store";



  
  export let store: Writable<unknown>;
  let value: unknown;
  store.subscribe(v => value = v);
</script>


{#if value}
  <slot name="defined"></slot>
{:else}
  <slot name="undefined"></slot>
{/if}