<script lang="ts">
import { noticeStore } from "../../stores/notice.store";
import type { Notice as INotice } from "../../schemas/notice.interface";
import Notice from "../atoms/notice.svelte";

function getType(notice: INotice): Required<INotice>['type'] {
  return notice.type || 'error';
}

</script>

{#if $noticeStore && $noticeStore.length !== 0}
  <ul class="fixed bottom-2 right-2 z-50">
    {#each $noticeStore as notice }
      <li>
        <Notice type={getType(notice)} on:remove={() => noticeStore.remove(notice)} deleteAble>
          <p class="block min-h-min h-10 w-96 max-w-full">
            {notice.message}
          </p>
        </Notice>
      </li>
    {/each}
  </ul>
{/if}