<script lang="ts">
  import Grid from '../atoms/grid.svelte';
import Popup from '../atoms/popup.svelte'

  export let open: boolean;

</script>



<Popup pop={open === true? 'left' : null} class="right-0 bottom-0 w-full p-2"><slot></slot></Popup>
<Grid cols={1} class="absolute bottom-2 right-2 p-2 z-50">
  <slot name="buttons"></slot>
</Grid>