<script lang="ts">
import App from "../../App.svelte";

  import Spinner from "../atoms/spinner.svelte";
  
</script>

<div class="absolute flex justify-center h-full w-full bg-neutral-300/50">
  <Spinner class="self-center"></Spinner>
</div>