<script lang="ts">
import UploadArea from "../molecules/uploadArea.svelte"
import { onMount } from "svelte";
import ImageCategory from "../molecules/imageCategory.svelte";
import FilterAndButton from "../../layouts/filterAndActions.svelte";
import { Image } from '../../schemas/image.entity';
let files: FileList;
let images: Image[] = [];
export let selected: Image[] = [];

onMount(async () => {
    
})

    function handleSelectOne(event){
        selected = [event.detail]
    }

    function handleSelectMultiple(event){
        const {detail} = event
        if(detail.selected){
            selected = [...selected, detail.id]
        } else {
            const i = selected.indexOf(detail.id)
            if(i === -1) return;
            selected = [
                ...selected.slice(0, i),
                ...selected.slice(i+1)
            ]
        }
    }   

</script>


<FilterAndButton>
    <div slot="main">
        <UploadArea {files}>
    
        </UploadArea>
        
        <ImageCategory {images} {selected} on:selectOne={handleSelectOne} on:selectMultiple={handleSelectMultiple}>
        </ImageCategory>
    </div>
</FilterAndButton>







