<script lang="ts">
import { faPlus, faTimes, faTrashAlt } from '@fortawesome/free-solid-svg-icons';

  import ImageUploadArea from '../molecules/image/image.upload.area.svelte';
  import ActionArea from '../molecules/prepare.area.svelte'
  import ButtonRound from '../atoms/form/button.circle.svelte';

  let uploadArea: ImageUploadArea;
  let open: boolean = true;

  function closeAndRemove() {
    open = false;
    uploadArea.clearFiles();
  }

</script>



<ActionArea {open}>
  <ImageUploadArea bind:this={uploadArea}></ImageUploadArea>
  <svelte:fragment slot="buttons">
    {#if open === false}
    <ButtonRound size="lg" color="red" icon={faTrashAlt} />
    <ButtonRound size="lg" color="orange" icon={faPlus} on:click={() => open = true}/>
    {:else}
    <ButtonRound size="lg" color="green" icon={faPlus} on:click={uploadArea.openFileBrowser} />
    <ButtonRound size="lg" color="red" icon={faTimes} on:click={closeAndRemove} />
    {/if}
  </svelte:fragment>
</ActionArea>