<script lang="ts">
import InputLabel from '../molecules/form/input.label.svelte'

import TagInput from '../molecules/form/input.tag.svelte';

    export let ids: string[];
    $: meta = [];
    $: isLoading = false;
    $: name = ""
    $: description = ""

    $: if(ids.length != 0) {
        loadData(ids);
    }

    $: if(meta) {

        if(meta.length === 1) {
            name = meta[0].name;
        }
    }

    $: if(name) {
        set('name', name)
    }

    function set(attr, value){
        meta = meta.map((m: Record<string, unknown>) => ({
            ...m,
            [attr]: value
        }))
    }

    async function loadData(ids){
        isLoading = true;
        const response: Response = await fetch(`http://localhost:3010/images/${ids[0]}/data`, {
            method: 'GET'
        })
        meta = [await response.json()];
        isLoading = false;
    }
</script>


<form class="flex flex-col gap-2 p-4 pl-0">
    <InputLabel type="text" label="Name" bind:value={name}></InputLabel>
    <TagInput label="Tags"></TagInput>
    <InputLabel textarea={true} label="Description" type="textarea" bind:value={description}></InputLabel>
</form>