<script lang="ts">
  import ImageComp from '../molecules/image/image.box.svelte';
  import ButtonCircle from '../atoms/form/button.circle.svelte';
import { onMount } from 'svelte';
import { imageStore, loadImages } from '../../stores/image.store';
import Grid from '../atoms/grid.svelte';
import { faExpandAlt, faPen } from '@fortawesome/free-solid-svg-icons';
import Checkbox from '../atoms/form/checkbox.svelte';

  onMount(async () => {
    await imageStore.dispatch(loadImages(0, 20));
  })

</script>

<Grid>
  {#each $imageStore as image}

    
    <ImageComp src={image.url} selected={image.selected} >
      <Grid
        cols={1} 
        class="hidden absolute top-2 right-2 group-hover:grid group-focus:grid"
      >
        <Checkbox on:change:isChecked={e => image.selected = e.detail}/>
        <ButtonCircle color="light" icon={faPen}></ButtonCircle>
        <ButtonCircle color="light" icon={faExpandAlt}></ButtonCircle>
      </Grid>
    </ImageComp>
  {/each}
</Grid>
