<script lang="ts">
  import InputLabel from "../molecules/form/input.label.svelte"
  import Button from '../atoms/form/button.svelte'
  import { ResponseException } from "../../exceptions/response.exception";
  import { User } from "../../schemas/user.entity";
  import Notice from "../atoms/notice.svelte";

  export let email: string = "";
  export let password: string = "";

  let errorMessage: string | undefined;

  function handleResponseException(err: ResponseException){
    if(err.status === 401){
      errorMessage = "Authorization failed, please check your mail and password"
    } else {
      errorMessage = `An error occured: ${err.status} - ${err.message}`
    }
      
  }

  async function login () {
    try {
      if(email.trim() !== "" && password.trim() !== ""){
        await User.login(email, password);
      }
    } catch (err) {
      if(err instanceof ResponseException) {
        handleResponseException(err)
        return;
      }

      //throw err;
    }
  }

</script>

<form on:submit|preventDefault={login}>
  {#if errorMessage}<Notice type="error" on:remove={() => errorMessage = undefined}>{errorMessage}</Notice>{/if}
  <InputLabel label="E-Mail" type="email" bind:value={email} required/>
  <InputLabel label="Password" type="password" bind:value={password} required/>
  <Button color="green" class="min-w-full" type="submit">Sign In</Button>
</form>