<script lang="ts">
import { Adder, Input } from "../atoms/form";




  function releaseOldData (){

  }

</script>

<form on:submit|preventDefault={releaseOldData}>
  <Input placeholder="Image Name" />
  <Adder label="add Story">
    
  </Adder>
</form>