<script>
  import { Meta, Template, Story } from "@storybook/addon-svelte-csf";
  import Adder from "./adder.svelte";
import Input from "./input.svelte";
</script>

<Meta
  title="Form"
  component={Adder}
  args={{
    label: {
      control: 'text'
    }
  }}
/>


<Template let:args>
  <Adder {...args} on:click={args.onClick} ><slot></slot></Adder>
</Template>

<Story
  name="Adder - Input"
>
  <Adder label="add name">
    <Input on:keyup placeholder="some name" autofocus/>
  </Adder>
</Story>