<script lang="ts">
  import Button from "./button.svelte";

  export let label;

  let show = false;

  function showSlot () {
    show = true;
  }

</script>

{#if show === false}
<Button on:click={showSlot} color="transparent">+ {label}</Button>
{:else}
<slot></slot>
{/if}

