button {
  @apply box-border rounded-md;
}
button:not(.small) {
  @apply p-2 px-5 my-2;
}

button.small {
  @apply px-2;
}

.green {
  @apply bg-green-600 focus:bg-green-500 hover:bg-green-500;
}

.orange {
  @apply bg-yellow-600 focus:bg-yellow-500 hover:bg-yellow-500;
}

.red {
  @apply bg-red-600 focus:bg-red-500 hover:bg-red-500;
}

.transparent {
  @apply bg-none focus:bg-zinc-100/20 hover:bg-zinc-100/20;
}

.blue-font {
  @apply bg-none text-sky-400 focus:text-sky-500 hover:text-sky-500;
}