<script lang="ts">
  import type { IconDefinition } from '@fortawesome/free-solid-svg-icons';
import Fa from 'svelte-fa';

  type sizeType = "1x" | "xs" | "sm" | "lg" | "2x" | "3x" | "4x" | "5x" | "6x" | "7x" | "8x" | "9x" | "10x" | undefined

  const colors = {
      green: "bg-green-600 focus:bg-green-500 hover:bg-green-500",
      orange: "bg-yellow-600 focus:bg-yellow-500 hover:bg-yellow-500",
      red: "bg-red-600 focus:bg-red-500 hover:bg-red-500",
      light: "bg-white opacity-60 focus:opacity-100 hover:opacity-100 text-black"
  }

  
  let className = "";

  export let icon: IconDefinition | undefined;
  export {className as class};
  export let color: keyof typeof colors = "green";
  export let type = "button";
  export let size: sizeType = '1x';

  let padding: string;

  $: colorClass = colors[color];
  $: switch(size) {
    case '1x':
    case 'sm':
    case 'xs': 
      padding = 'p-3';
      break;
    default:
      padding = 'p-5';
      break;

  }



</script>


<button class="rounded-full {padding} {colorClass} {className}" on:click {type} {...$$restProps} >
  <slot>
    {#if icon}
      <Fa {icon} {size}/>
    {/if}
  </slot>
</button>