<script lang="ts">

    import type { IconDefinition } from '@fortawesome/free-solid-svg-icons';
import Fa from 'svelte-fa';

    enum Colors {
        green='green',
        orange='orange',
        red='red',
        transparent='transparent',
        'blue-font'='blue-font',
        'red-font'='red-font'

    }

    let className = "";
    let button: HTMLElement;
    let bh: string = "";
    let bw: string = "";

    export {className as class};
    export let color: null | keyof typeof Colors = "green";
    export let type = 'button';
    export let small = false;
    export let circle = false;
    export let active = false;
    export let icon: IconDefinition | undefined = undefined;

    $: if(button && circle === true) {
        const h = button.clientHeight;
        const w = button.clientWidth;

        if(h > w) {
            bw = `${h}px`;
        } else if ( h < w ) {
            bh = `${w}px`;
        }
    }

</script>


<button
    style:height={bh}
    style:width={bw}
    class:small 
    class:circle
    class:active
    class="{color} {className}" 
    on:click 
    {type} 
    {...$$restProps}
    bind:this={button}
>
    <slot></slot>
    {#if icon}
        {#if !circle}<span class="w-2"/>{/if}
        <span><Fa {icon} /></span>
    {/if}
</button>


<style lang="scss">

    button {
        @apply flex flex-nowrap items-center box-border rounded-md;
    }

    button.circle {
        @apply rounded-full justify-around;
    }
    button.circle:not(.small) {
        @apply p-3;
    }
    button:not(.small):not(.circle) {
        @apply p-2 px-5 my-2 border-2 border-transparent;
    }

    button.small:not(.circle) {
        @apply px-2;
    }

    .green {
        @apply bg-green-600 focus:bg-green-500 hover:bg-green-500;
    }

    .orange {
        @apply bg-yellow-600 focus:bg-yellow-500 hover:bg-yellow-500;
    }

    .red {
        @apply bg-red-600 focus:bg-red-500 hover:bg-red-500;
    }

    .transparent {
        @apply bg-none focus:bg-zinc-100/20 hover:bg-zinc-100/20;
        &.active {
            @apply bg-zinc-200/30 focus:bg-zinc-100/20 hover:bg-zinc-100/20;
        } 
    }

    .blue-font {
        @apply bg-none text-sky-400 focus:text-sky-500 hover:text-sky-500;
    }

    .red-font {
        @apply bg-none text-red-400 focus:text-red-500 hover:text-red-500;
    }
</style>