<script>
  import { faTimes } from "@fortawesome/free-solid-svg-icons";

  import { Meta, Template, Story } from "@storybook/addon-svelte-csf";
  import Button from "./button.svelte";
</script>

<Meta
  title="Form"
  component={Button}
  argTypes={{
    color: {
      control: { type: 'select' },
      options: ['green', 'orange', 'red', 'light', 'transparent', 'red-font', 'blue-font']
    },
    label: { control: "text" },
    onClick: { action: "onClick" },
    size: {
      control: { type: 'select' },
      options: ['small', 'medium', 'large'],
    },
  }}
/>


<Template let:args>
  <Button {...args} on:click={args.onClick} >
    {#if args.label }
      {args.label}
    {/if}  
  </Button>
</Template>


<Story
  name="Button - with icon"
  args={{
    label: 'test',
    //circle: true,
    color: 'red',
    icon: faTimes
  }}
/>

<Story
  name="Button - Circle"
  args={{
    circle: true,
    color: 'red-font',
    icon: faTimes
  }}
/>

<Story
  name="Button - Success"
  args={{
    label: 'Send',
    color: 'green'
  }}
/>