<script lang="ts">
import { createEventDispatcher } from "svelte";


 export let checked = false;

 const dispatch = createEventDispatcher()

 let className: string = "";
 let checkbox: HTMLInputElement;

 export {className as class};

 function stateChange(){
  dispatch('change:isChecked', checkbox.checked);
 }
</script>

<style>

</style>

<input 
  type="checkbox"
  {checked}
  bind:this={checkbox}
  class="rounded-md {className}"
  on:change={stateChange}
/>