<script lang="ts">
  import {nanoid} from 'nanoid';
  import { createEventDispatcher} from 'svelte';

  export let id = nanoid(3);
  export let value = "";

  let input: HTMLElement;

  const dispatcher = createEventDispatcher()

  function handleKey(event: KeyboardEvent) {
      if(event.key === 'Enter'){
          dispatcher('keyEnter')
      }
  }

</script>

<style lang="postcss">

  input {
    @apply box-border bg-zinc-700 p-2 px-3 my-2 border-2 border-transparent rounded-md;
  }
  input:focus {
    @apply outline-none border-gray-700 bg-transparent;
  }
  input:hover {
    @apply border-gray-500;
  }
</style>


<input bind:this={input} id="input-{id}" bind:value on:keyup={handleKey} {...$$restProps} />
