<script lang="ts">

  import {Route, Router} from 'svelte-routing'
  import Spinner from './components/atoms/spinner.svelte';
  import IsDefined from './components/molecules/isDefined.svelte';
  import { loadConfig } from './stores/config.action';
  import ImagesPage from "./pages/images.page.svelte";
  import {currentUser} from "./stores/user.store";
  import LoginPage from "./pages/login.page.svelte";
  import Center from './layouts/center.svelte';
  import NoticeQueue from './components/molecules/notice.queue.svelte';


  let promise = loadConfig();
  
  const url = window.location.pathname;

</script>

<style global lang="postcss">
  @import './App.css';
</style>

{#await promise}
  <Center><Spinner/></Center>
{:then config}
  <main>
    <NoticeQueue />
    <IsDefined store={currentUser}>
      <LoginPage slot="undefined" />
      <Router slot="defined" url={url}>
        <Route path="/"><ImagesPage /></Route>
      </Router>
    </IsDefined>
  </main>
{:catch error}
  <div class="self-center text-xl">Something went wrong: {error}</div>
{/await}