<script>

</script>

<style lang="scss">
    // .buttons{
    //     position: sticky;
    //     display: inline-block;
    //     bottom: 2vh;
    //     left: 100%;
    //     margin: 2vh;
    //     :global(div) {
    //         position: relative;
    //         display: inline-block;
    //     }
    // }
</style>

<slot name="filter"></slot>
<slot></slot>
<div class="sticky bottom-0 left-full">
    <slot name="actions"></slot>
</div>