<script lang="ts">
import Seperator from "../components/atoms/seperator.svelte";

let position = [];
let sizeLeft;
let seperator;

$: if (position) {
    const right = document.body.clientWidth - position[1]
    const left = position[0]
    if(right > 300 && left > 400){
        sizeLeft = left;
        
        seperator = position[1] - left;
    }
}

</script>
<style lang="scss">
    .main {
        display: grid;
        grid-template-columns: 70vw auto auto;
        div {
            height: 100vh;
        }
    }
</style>

<div class="main" style="grid-template-columns: {sizeLeft}px {seperator}px auto">
    <div class="left h-full relative">
        <slot name="left"></slot>
    </div>
    <Seperator bind:position></Seperator>
    <div class="right relative">
        <slot name="right"></slot>
    </div>
</div>