<script lang="ts">
  import { Button } from "../../atoms/form";
  import BoxButtonTeaser from '../../atoms/box.button.teaser.svelte'

  export let teaser: string;
</script>


<BoxButtonTeaser {teaser}>
  <Button color="blue-font" small on:click>edit</Button>
</BoxButtonTeaser>

