<script lang="ts">
  import { faTimesCircle } from "@fortawesome/free-regular-svg-icons";
  import { Button } from "../../atoms/form";
  import BoxButtonTeaser from '../../atoms/box.button.teaser.svelte'

  export let teaser: string;
</script>


<BoxButtonTeaser {teaser}>
  <Button color="red-font" icon={faTimesCircle} circle small on:click/>
</BoxButtonTeaser>

